body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.side-categories {
  background-color: #212529;
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 25%;
}

.side-categories a {
  position: absolute;
  width: 85%;
}

.side-categories a:link {
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 2vmin;
}

.side-categories a:visited {
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 2vmin;
}

.side-categories a:hover {
  background-color: rgb(97, 97, 97);
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 2vmin;
}

.side-categories hr {
  color: white;
  width: 90%;
}
